@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

/*  botton  */
.btn-danger{
    background-color: red;
    border-radius: 10px;
    border-color: red;
    padding: 10px 45px;
    color: white;
}
.btn-outline-danger{
    background-color: transparent;
    border-radius: 10px;
    border-color: red;
    padding: 10px 45px;
    color: red;
}
.btn-outline-white{
    background-color: transparent;
    border-radius: 10px;
    border-color: white;
    padding: 10px 45px;
    color: white;
}


/*  navbar  */
.nav-item{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;

}

.scroll-nav-active{
    background-color: white;
    border-bottom: 2px solid red;
}

.text-nav-active{
    color: black;
}
/*  hero  */
#hero{
    background-image: url("../../assets/images/il-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;

}

.hero-title{
    padding-top: 200px;

}

.hero-text{
    font-size: 65px;
    font-weight: 600;
}


/*  join  */
.stripe{
    height: 5px;
    width: 40px;
    background-color: red;
}

/*  video  */
#video{
    background-image: url("../../assets/images/il-bg-video.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.video-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
}

.video-wrapper {
    display: flex;
    justify-content: center; /* Menengahkan horizontal */
    width: 100%;
}

/*  foto  */
/*  paralax bacground  */

.section-foto{
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax{
    background-image: url("../../assets/images/il-bg-poto.jpeg");
}

.stripe-putih{
    height: 5px;
    width: 40px;
    background-color: white;
}
