@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

/*  botton  */
.btn-danger{
    background-color: red;
    border-radius: 10px;
    border-color: red;
    padding: 10px 45px;
    color: white;
}

/*  navbar  */
.nav-item{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;

}
/*  hero  */
#hero{
    background-image: url("../../assets/images/il-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;

}

.hero-title{
    padding-top: 200px;

}

.hero-text{
    font-size: 65px;
    font-weight: 600;
}
